name: CI/CD Pipeline

run-name: ${{github.workflow}} - ${{github.event.head_commit.message || github.event.pull_request.title}}

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  NODE_VERSION: 24

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: install dependencies
        run: npm ci
      - name: run tests
        run: npm test
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v6
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
      - name: install dependencies
        run: npm ci
      - name: build package
        run: npm run build
      - name: upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: dist-artifact
          path: dist
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
      - name: install firebase tools
        run: npm install --save-dev firebase-tools
      - name: download artifact
        uses: actions/download-artifact@v6
        with:
          name: dist-artifact
          path: dist
      - name: set firebase key
        run: |
          echo "${{ secrets.FIREBASE_KEY }}" | base64 -d > ${{ github.workspace }}/firebase-key.json
          echo "GOOGLE_APPLICATION_CREDENTIALS=${{ github.workspace }}/firebase-key.json" >> $GITHUB_ENV
      - name: select firebase project
        run: ./node_modules/.bin/firebase use ${{ secrets.FIREBASE_PROJECT_ID }}
      - name: deploy to firebase
        run: ./node_modules/.bin/firebase deploy
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks
      - name: clean up google application credentials
        run: rm $GOOGLE_APPLICATION_CREDENTIALS
        if: always()
